<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="index.html">Furni<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item {% if request.path == url_for('shop') %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('shop') }}">Shop</a>
                        </li>
                        <li class="nav-item {% if request.path == url_for('about') %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('about') }}">About us</a>
                        </li>
                        <li class="nav-item {% if request.path == url_for('services') %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('services') }}">Services</a>
                        </li>
                        <li class="nav-item {% if request.path == url_for('blog') %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                        </li>
                        <li class="nav-item {% if request.path == url_for('contact') %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
                        </li>
                    </ul>


					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="#"><img src="../static/images/user.svg"></a></li>
						<li><a class="nav-link" href="{{ url_for('cart') }}"><img src="../static/images/cart.svg"></a></li>
					</ul>
				</div>
			</div>

		</nav>
		<!-- End Header/Navigation -->