<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-8">
							<div class="intro-excerpt">
								<h1>Modern Interior <span clsas="d-block">{{slider_product['title'] }}</span></h1>
								<p class="mb-4">{{slider_product['description'] }}</p>
								<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="hero-img-wrap">
								<img src="{{slider_product['image'] }}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->